@import "tailwindcss";


html,
body {
  color: #fff;
  background: #1f1934;
}

main {
  background: #393a47;
  height: 100vh;
  height: 100dvh;
}

.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets
  .swiper-pagination-bullet {
  background-color: #f5741c;
}

@theme {
  --color-brand-gradient: linear-gradient(90.21deg, rgba(170, 54, 124, 0.5) -5.91%, rgba(74, 47, 189, 0.5) 111.58%);
}

@layer utilities {
  .bg-brand-gradient {
    background: var(--color-brand-gradient);
  }
}